a {
    font-size: 16px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    gap: 10px
}

.row {
    display: flex;
    height: auto;
    place-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-body {
    text-align: center;
}

.goku {
    max-width: 100%;
    height: auto;
}